.mem_input_wrapper {
    text-align: right;
}

.mem_box {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
}

.button {
    border: 1px solid #a5a5a5;
    background: #ffffff;
    color: black;
    text-decoration: none;
    padding: 3px 4px;
    font-weight: bold;
    font-size: 16px;
}